<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
import os
path = '/content/drive/My Drive/Data_viz'

In [15]:
covid_file_path = os.path.join(path,'pm-24-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/Data_viz/pm-24-jan-2021.csv

##Load Data

In [16]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
13495  13496  ...                                     ระบุไม่ได้
13496  13497  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13497  13498  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13498  13499  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
13499  13500  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[13500 rows x 10 columns]

In [17]:
data_covid.head() #ไฟล์ที่แสดงจะขึ้นน้อยลง

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [18]:
data_covid.shape

(13500, 10)

##ชี้ค่าในตาราง

##Basic

In [19]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
13495    กรุงเทพมหานคร
13496    กรุงเทพมหานคร
13497    กรุงเทพมหานคร
13498    กรุงเทพมหานคร
13499    กรุงเทพมหานคร
Name: province_of_onset, Length: 13500, dtype: object

In [20]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

##.iloc

In [21]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### **Table Slicing**

ตัดมาเฉพาะ column ที่ต้องการ

In [22]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] #ใส่ [] ซ้อน  ถ้าอยากได้หลายๆค่า
smaller_table

      announce_date  ...                                           risk
0         1/12/2020  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                            ...
13495     1/24/2021  ...                                     ระบุไม่ได้
13496     1/24/2021  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13497     1/24/2021  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13498     1/24/2021  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
13499     1/24/2021  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[13500 rows x 3 columns]

### ตัดเฉพาะ rows

#แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [23]:
data_covid.iloc[1:4, : ]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[3 rows x 10 columns]

##แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [24]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] ; x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression (True/ False) )

In [25]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [26]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [27]:
all_rows_covid=data_covid.iloc[:,:]
all_rows_covid

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
13495  13496  ...                                     ระบุไม่ได้
13496  13497  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13497  13498  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13498  13499  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
13499  13500  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[13500 rows x 10 columns]

In [28]:
all_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0         True
1         True
2        False
3         True
4         True
         ...
13495     True
13496     True
13497     True
13498     True
13499     True
Name: province_of_onset, Length: 13500, dtype: bool

In [29]:
all_rows_covid[all_rows_covid['province_of_onset']== 'ขอนแก่น'] 
#นับจากหลังมาหน้า
# all ครั้งแรกคือ เลือกแค่rows (เป็นการสร้าง list ของ logical expression)
# all ครั้งที่2 คือ เลือก column ด้วย

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

Homework
1. คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลจังหวัดขอนแก่น
3. หาจำนวนผู้ป่วย คนต่างชาติเดินทางมาจากต่างประเทศ

In [30]:
all_age_covid= data_covid[['sex','age','province_of_onset']] 
all_age_covid

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
13495  หญิง  49.0     กรุงเทพมหานคร
13496   ชาย  31.0     กรุงเทพมหานคร
13497   ชาย  45.0     กรุงเทพมหานคร
13498  หญิง  29.0     กรุงเทพมหานคร
13499  หญิง  44.0     กรุงเทพมหานคร

[13500 rows x 3 columns]

In [31]:
def mean_age(sex,province_of_onset = 'total'):
  for i in range(len(all_age_covid)):
    if province_of_onset == 'total':
      if sex == all_age_covid['sex'][i]:
        total_age =+ all_age_covid['age'][i]
        n=+1
    else:
      if sex == all_age_covid['sex'][i]:
        if province_of_onset == all_age_covid['province_of_onset'][i]:
          total_age =+ all_age_covid['age'][i]
          n=+1
  return total_age/n

In [37]:
a=mean_age('หญิง')
b=mean_age('ชาย')
print(f' อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิง คือ {a} ปี \n อายุเฉลี่ยของผู้ป่วย covid-19 เพศชาย คือ {b} ปี\n')

 อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิง คือ 44.0 ปี
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศชาย คือ 45.0 ปี

In [38]:
c=mean_age('หญิง','ขอนแก่น')
d=mean_age('ชาย','ขอนแก่น')
print(f' อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิงในจังหวัดขอนแก่น คือ {c} ปี \n อายุเฉลี่ยของผู้ป่วย covid-19 เพศชายในจังหวัดขอนแก่น คือ {d} ปี\n')

 อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิงในจังหวัดขอนแก่น คือ 37.0 ปี
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศชายในจังหวัดขอนแก่น คือ 12.0 ปี

In [39]:
e=all_rows_covid[all_rows_covid['risk']== 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0] 
print(f' จำนวนผู้ป่วย covid-19 ที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ มี {e} คน')

 จำนวนผู้ป่วย covid-19 ที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ มี 155 คน