<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
import os

In [79]:
data = pd.read_csv('search_request.csv')
data.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

In [80]:
from datetime import time

In [81]:
from datetime import datetime, time

In [82]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [96]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
data

        Unnamed: 0  ...     search_timestamp_v2
0                0  ... 2018-06-14 12:34:35.449
1                1  ... 2018-06-14 17:11:19.469
2                2  ... 2018-06-14 13:22:31.736
3                3  ... 2018-06-02 12:37:27.331
4                4  ... 2018-06-02 11:19:22.404
...            ...  ...                     ...
593106      593115  ... 2018-06-08 19:42:42.557
593107      593116  ... 2018-06-08 22:55:29.277
593108      593117  ... 2018-06-08 13:53:49.996
593109      593118  ... 2018-06-08 15:41:06.937
593110      593119  ...                     NaT

[593111 rows x 11 columns]

In [97]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404
5           5  ... 2018-06-22 09:29:22.530
6           6  ... 2018-06-22 11:26:40.836
7           7  ... 2018-06-22 09:19:42.950
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[10 rows x 11 columns]

In [85]:
top_table.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [86]:
datetime(2018, 6, 14, 12, 34, 35).ctime()

'Thu Jun 14 12:34:35 2018'

In [87]:
top_table.iloc[0,-1].day

14

In [88]:
top_table.iloc[0,-1].month

6

In [89]:
top_table.iloc[0,-1].year

2018

In [90]:
top_table.iloc[0,-1].dayofweek

3

In [91]:
top_table.iloc[0,-1].hour

12

In [92]:
top_table[top_table['search_timestamp_v2'].dt.dayofweek == 3]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736

[3 rows x 11 columns]

In [93]:
top_table[top_table['search_timestamp_v2'].dt.time>time(hour=12)] ##ดึงข้อมูลหลังเที่ยง

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[6 rows x 11 columns]

In [ ]:
A['number_of_result']

เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์
เปรียบเทียบ requests ของวัน

In [103]:
data_weekday = data[data['search_timestamp_v2'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส
data_weekday

        Unnamed: 0  ...     search_timestamp_v2
0                0  ... 2018-06-14 12:34:35.449
1                1  ... 2018-06-14 17:11:19.469
2                2  ... 2018-06-14 13:22:31.736
19              19  ... 2018-06-25 21:17:30.510
20              20  ... 2018-06-25 18:32:18.165
...            ...  ...                     ...
584879      584888  ... 2018-06-18 05:33:33.054
584880      584889  ... 2018-06-18 02:58:46.433
584881      584890  ... 2018-06-18 06:46:01.184
584882      584891  ... 2018-06-18 05:57:41.805
584883      584892  ... 2018-06-18 05:55:33.784

[237994 rows x 11 columns]

In [105]:
data_holiday = data[data['search_timestamp_v2'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์
data_holiday

        Unnamed: 0  ...     search_timestamp_v2
3                3  ... 2018-06-02 12:37:27.331
4                4  ... 2018-06-02 11:19:22.404
5                5  ... 2018-06-22 09:29:22.530
6                6  ... 2018-06-22 11:26:40.836
7                7  ... 2018-06-22 09:19:42.950
...            ...  ...                     ...
593105      593114  ... 2018-06-08 19:37:20.836
593106      593115  ... 2018-06-08 19:42:42.557
593107      593116  ... 2018-06-08 22:55:29.277
593108      593117  ... 2018-06-08 13:53:49.996
593109      593118  ... 2018-06-08 15:41:06.937

[355116 rows x 11 columns]

In [106]:
compare_day = data_weekday['Unnamed: 0'].sum() < data_holiday['Unnamed: 0'].sum()
compare_day

True

In [107]:
print(f"จำนวน requests ของวันจันทร์-พฤหัส มากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด")

จำนวน requests ของวันจันทร์-พฤหัส มากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด

เปรียบเทียบจำนวน requests ของช่วงเวลา

In [108]:
data_daylight = data[data['search_timestamp_v2'].dt.time < time(hour=12)]
data_daylight= data_daylight[data_daylight['search_timestamp_v2'].dt.time >= time(hour=11)]
data_daylight= data_daylight.iloc[:,2].count()
data_daylight

43301

In [109]:
data_night  =data[data['search_timestamp_v2'].dt.time >= time(hour=23)]
data_night = data_night.iloc[:,2].count()
data_night

15783

In [110]:
data_daylight > data_night

True