<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [21]:
data = pd.read_csv('example_timestamp.csv')
data.head()

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20

In [9]:
from datetime import datetime, time

In [35]:
alpha = data['alpha']
alpha

0     8.78
1    13.00
2     0.44
3     1.94
4     5.40
5     5.68
6     2.64
Name: alpha, dtype: float64

In [33]:
beta = data['beta']
beta

0    24
1    25
2    25
3    28
4    20
5    21
6    16
Name: beta, dtype: int64