<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [21]:
data = pd.read_csv('example_timestamp.csv')
data.head()

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20

In [9]:
from datetime import datetime, time

In [36]:
data.iloc[0,0]

'2020-05-29'

In [37]:
bf = data[data['Unnamed: 0'] < '2020-06-02']
bf.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [42]:
at = data[data['Unnamed: 0'] >= '2020-06-02']
at.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object