<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
path = '/content/drive/My Drive/Data_viz'

In [12]:
data = os.path.join(path,'-.57-.58-1.xls')
data

'/content/drive/My Drive/Data_viz/-.57-.58-1.xls'

In [13]:
data1 = pd.read_excel(data,header=4,skipfooter=20)
data1.head()

  ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0   ที่  ...                      NaN
1     1  ...  เป็นผู้ให้บริการจำหน่าย
2     2  ...  เป็นผู้ให้บริการจำหน่าย
3     3  ...  เป็นผู้ให้บริการจำหน่าย
4     4  ...  เป็นผู้ให้บริการจำหน่าย

[5 rows x 9 columns]

In [14]:
data2 = pd.read_excel(data,sheet_name='พย.57',header=4,skipfooter=30)
data2.head()

  ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0   ที่  ...                      NaN
1     1  ...  เป็นผู้ให้บริการจำหน่าย
2     2  ...           เป็นผู้จำหน่าย
3     3  ...           เป็นผู้จำหน่าย
4     4  ...           เป็นผู้จำหน่าย

[5 rows x 9 columns]

In [15]:
oct_57 = data1.rename(columns={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})
nov_57 = data2.rename(columns={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})

In [17]:
data_all = pd.concat([oct_57,nov_57])
data_all

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0    ที่  ...                      NaN
1      1  ...  เป็นผู้ให้บริการจำหน่าย
2      2  ...  เป็นผู้ให้บริการจำหน่าย
3      3  ...  เป็นผู้ให้บริการจำหน่าย
4      4  ...  เป็นผู้ให้บริการจำหน่าย
..   ...  ...                      ...
46    33  ...           เป็นผู้จำหน่าย
47    34  ...           เป็นผู้จำหน่าย
48    35  ...           เป็นผู้จำหน่าย
49    36  ...           เป็นผู้จำหน่าย
50    37  ...           เป็นผู้จำหน่าย

[67 rows x 9 columns]