<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [3]:
data = pd.read_csv('search_request.csv')
data.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

In [4]:
from datetime import datetime, time

In [9]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [39]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d')
data

       Unnamed: 0  ...     search_timestamp_v2
0               0  ... 2018-06-14 12:34:35.449
1               1  ... 2018-06-14 17:11:19.469
2               2  ... 2018-06-14 13:22:31.736
3               3  ... 2018-06-02 12:37:27.331
4               4  ... 2018-06-02 11:19:22.404
...           ...  ...                     ...
10518       10518  ... 2018-06-03 18:54:01.279
10519       10519  ... 2018-06-25 12:02:57.398
10520       10520  ... 2018-06-25 12:06:50.975
10521       10521  ... 2018-06-25 10:48:52.670
10522       10522  ... 2018-06-25 10:14:02.314

[10523 rows x 11 columns]

In [42]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404
5           5  ... 2018-06-22 09:29:22.530
6           6  ... 2018-06-22 11:26:40.836
7           7  ... 2018-06-22 09:19:42.950
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[10 rows x 11 columns]

In [43]:
top_table.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [44]:
datetime(2018, 6, 14, 12, 34, 35).ctime()

'Thu Jun 14 12:34:35 2018'

In [45]:
top_table.iloc[0,-1].day

14

In [47]:
top_table.iloc[0,-1].month

6

In [48]:
top_table.iloc[0,-1].year

2018

In [49]:
top_table.iloc[0,-1].dayofweek

3

In [52]:
top_table.iloc[0,-1].hour

12

In [50]:
top_table[top_table['search_timestamp_v2'].dt.dayofweek == 3]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736

[3 rows x 11 columns]

In [51]:
top_table[top_table['search_timestamp_v2'].dt.time>time(hour=12)] ##ดึงข้อมูลหลังเที่ยง

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[6 rows x 11 columns]

In [38]:
A = data[data['search_timestamp']<=datetime(2018, 6, 14, 11, 59, 00)].sum()
print(A)

Unnamed: 0                                                   25391618
search_id           0c17a5f5-fa89-40f4-ae94-a8659268f8276870dc3a-5...
user_agent          Mozilla/5.0 (Linux; Android 7.1.1; SM-N950F Bu...
user_id                                                   1.88769e+08
session_id          39n535qgje9kpojp0grhfj8umk5pa03h6lj691to60erve...
number_of_result                                                56633
lat                                                             65383
long                                                           466062
dtype: object

In [31]:
A['number_of_result']

56633.0