<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os

In [3]:
data = pd.read_csv('search_request.csv')
data.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

In [4]:
from datetime import datetime, time

In [9]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [14]:
data['search_timestamp'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d')
data

       Unnamed: 0                             search_id  ...        lat        long
0               0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1               1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2               2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3               3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4               4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...           ...                                   ...  ...        ...         ...
10518       10518  ab522508-1ec5-4723-83c1-417c47d3986a  ...  13.875972  100.412089
10519       10519  b296aea5-9e5c-4904-aa47-fa57680ee240  ...  13.713478  100.409067
10520       10520  b524b7cb-9e2c-448a-97a0-e706fe6dec0c  ...  13.713478  100.409067
10521       10521  607f7b1a-514b-4417-b245-8d8ef0c00866  ...   7.893384   98.368450
10522       10522  6620d85c-1fe8-45b1-ac34-ad1101691227  ...        NaN         NaN

[10523 rows x 10 columns]

In [16]:
data.iloc[0,2]

Timestamp('2018-06-14 12:34:35.449000')