<a href="https://colab.research.google.com/github/Yaninns/data_viz/blob/main/Vissualize_Data_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
data = pd.read_csv('search_request.csv')
data.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

##เตรียมข้อมูล

In [3]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
data

       Unnamed: 0  ...     search_timestamp_v2
0               0  ... 2018-06-14 12:34:35.449
1               1  ... 2018-06-14 17:11:19.469
2               2  ... 2018-06-14 13:22:31.736
3               3  ... 2018-06-02 12:37:27.331
4               4  ... 2018-06-02 11:19:22.404
...           ...  ...                     ...
32080       32080  ... 2018-06-24 11:05:02.613
32081       32081  ... 2018-06-24 11:05:00.407
32082       32082  ... 2018-06-24 09:47:44.707
32083       32083  ... 2018-06-24 09:47:45.992
32084       32084  ...                     NaT

[32085 rows x 11 columns]

##Bar chart

###สร้างกราฟแท่งเปรียบเทียบปริมาณ คนเข้าใช้ Web Wongnai.com เพื่อค้นหาอาหารในแต่ละวัน

In [6]:
M = [data['search_timestamp_v2'].dt.dayofweek == 0]
M

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [7]:
T = [data['search_timestamp_v2'].dt.dayofweek == 1]
T

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [8]:
W = [data['search_timestamp_v2'].dt.dayofweek == 2]
W

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [11]:
Th = [data['search_timestamp_v2'].dt.dayofweek == 3]
Th

[0         True
 1         True
 2         True
 3        False
 4        False
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [12]:
F = [data['search_timestamp_v2'].dt.dayofweek == 4]
F

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [13]:
S = [data['search_timestamp_v2'].dt.dayofweek == 5]
S

[0        False
 1        False
 2        False
 3         True
 4         True
          ...
 32080    False
 32081    False
 32082    False
 32083    False
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [14]:
Su = [data['search_timestamp_v2'].dt.dayofweek == 6]
Su

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 32080     True
 32081     True
 32082     True
 32083     True
 32084    False
 Name: search_timestamp_v2, Length: 32085, dtype: bool]

In [15]:
plt.bar([1,2,3,4,5,6,7],[data[data['search_timestamp_v2'],['M','T','W','Th','F','S','Su']]])

NameError: ignored